* {
    font-family: arial;
    padding: 0px;
    margin: 0px;
}

form {
    position: absolute;
    bottom: 10px;
    text-align: center;
}

.splash {
    border: solid;
    position: absolute;
}

#response-container {
    width: 100%;
    max-height: 800px;
    overflow: hidden;
}

.title {
    position: absolute;
    font-size: 65px;
    padding-left: 30px;
    padding-top: 350px;
    padding-bottom: 350px;
    background-color: rgba(245, 245, 245, 0.73);
    width: 100%;
    text-align: center;
    height: 100px;
}

.poster {
    float: left;
    width: 100%;
}

.info {
    float:left;
    width: 50%;
    font-size: 20px;
    padding-left: 30px;
}

#cloud {
    max-width: 80%;
    margin: 0 auto;
}

.word-cloud {
    display: inline-block;
    margin: 0 5px;
    line-height: 0.4;
}

@keyframes color-cycle-1 {
    0% {
        /*transform: scale(1,1) translateY(0px);*/
        color: #292699
    }
    50% {
        /*transform: scale(1.03,1.03) translateY(5px);*/
        color: #0dacd7;
    }
    100% {
        /*transform: scale(1,1) translateY(0px);*/
        color: #292699
    }
}

@keyframes color-cycle-2 {
    0% {
        /*transform: scale(1,1) translateY(0px);*/
        color: #A4BCEF
    }
    50% {
        /*transform: scale(1.03,1.03) translateY(5px);*/
        color: #002066;
    }
    100% {
        /*transform: scale(1,1) translateY(0px);*/
        color: #A4BCEF
    }
}

@keyframes color-cycle-3 {
    0% {
        /*transform: scale(1,1) translateY(0px);*/
        color: #5F687A;
    }
    50% {
        /*transform: scale(1.03,1.03) translateY(5px);*/
        color: #4A85FF;
    }
    100% {
        /*transform: scale(1,1) translateY(0px);*/
        color: #5F687A;
    }
}

.dark {
    animation: color-cycle-1 10s linear infinite;
}

.medium {
    animation: color-cycle-3 12s linear infinite;
}

.light {
    animation: color-cycle-2 8s linear infinite;
}
